---
import MailIcon from "@/components/icons/Mail.astro"
import Send from '@/components/icons/Send.astro'
---

<form action="#" method="post"></form>
<div class="items-center">
    <form class="items-center justify-center"> 
    <!-- Contact Us -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto ">

<div class="mt-12 max-w-lg mx-auto">
    <!-- Card -->
    <div class="flex flex-col border rounded-xl p-4 sm:p-6 lg:p-8 dark:border-gray-700">
        <div class="max-w-xl mx-auto">
            <div class="text-center">
            <h1 class="text-3xl font-semibold neutral-400 sm:text-2xl dark:text-white">
                <MailIcon class="inline-flex "/> Contacto
            </h1>
            <p class="mt-1 text-white opacity-80">
                Envíame un mail
            </p>
            </div>
        </div>
    <form>
        <div class="grid gap-4 lg:gap-6">
        <!-- Grid -->
        <div class="grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
            <div>
            <label for="hs-firstname-contacts-1" class="block mb-2 text-sm text-white opacity-80 font-medium dark:text-white">Nombre</label>
            <input type="text" name="hs-firstname-contacts-1" id="hs-firstname-contacts-1" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
            </div>
        </div>

        <!-- Grid -->
        <div class="grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
            <div>
            <label for="hs-email-contacts-1" class="block mb-2 text-sm text-white opacity-80 font-medium dark:text-white">Email</label>
            <input type="email" name="hs-email-contacts-1" id="hs-email-contacts-1" autocomplete="email" class="py-3 px-4 block w-full border-slate-600 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
            </div>
        </div>
        <!-- End Grid -->

        <div>
            <label for="hs-about-contacts-1" class="block mb-2 text-sm text-white opacity-80 font-medium dark:text-white">Details</label>
            <textarea id="hs-about-contacts-1" name="hs-about-contacts-1" rows="4" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"></textarea>
        </div>
        </div>
        <!-- End Grid -->

        <div class="mt-6 grid">
        <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-slate-800 text-white hover:bg-slate-600 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
            <Send />
            Envíar mail
        </button>
        </div>
    </form>
    </div>
</div>
</div>
</div>
    </form>
</div>